<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h2>Hello this is the index</h2>
    <% if (locals.firstName) { %>
        <h4>Welcome <%= locals.firstName %> <%= locals.lastName %> </h4>
        <h5><%= locals.firstName.toUpperCase() %> </h5>
    <% } else { %>
        <h4>Welcome, please sign up</h4>
    <% } %>

</body>
</html>